#home-page {
  background: linear-gradient(-45deg, #bb4927, #a71d52, #039be5, #1a9d4e);
  height: 95vh;
}

#home-page h1 {
  color: #ffffff;
}

#home-page h3 {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  /* #home-page h1 {
    font-size: 4.5rem;
  } */
  #home-page h3 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 600px) {
  #home-page .container {
    width: 90%;
    max-width: 100vw;
  }
}
