#home-page {
  background: linear-gradient(-45deg, #bb4927, #a71d52, #039be5, #1a9d4e);
  height: 95vh;
}

#home-page h1 {
  color: #ffffff;
}

#home-page h3 {
    color: #ffffff;
  }

#home-page .container {
  width: 90%;
  max-width: 100vw;
}
