#home-page nav {
  background: #ffffff;
}

#home-page nav ul a {
  color: #039be5;
  font-size: 1.2em;
  margin: 0 2vw;
}

#home-page nav .brand-logo {
  color: #039be5;
}

#home-page nav .sidenav-trigger {
  float: right;
  color: #5a5a5b;
}

@media only screen and (max-width: 600px) {
  #home-page #mobile-nav a {
    color: #039be5;
  }
  #home-page #mobile-nav {
    background: #ffffff;
  }
}
@media only screen and (min-width: 992px) {
  #home-page nav .brand-logo {
    margin-left: 2.5rem;
  }
}
